name: Test the Lab 1 of Testing
on: push
jobs:
  test-testing-lab1:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          submodules: 'true'
      - name: Setup Bats testing framework
        uses: bats-core/bats-action@2.0.0
        
      - name: bats test
        run: |
          echo "run test..."
          bats ./.github/tests/lab-tests.bats
        shell: bash
