name: Test the Lab 2 of Testing
on: push
jobs:
  test-testing-lab2:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Make scripts executable
        run: |
          chmod +x ./.github/scripts/*.sh
        shell: bash

      - id: simple-run
        uses: ./.github/action/
        with:
          addition-input-1: 4
          addition-input-2: 5
          palindrome-input: "Engage le jeu que je le gagne frerot"

      - name: Display outputs
        run: |
          echo "addition: ${{ steps.simple-run.outputs.addition }}"
          echo "helloWorld: ${{ steps.simple-run.outputs.helloWorld }}"
          echo "palindrome: ${{ steps.simple-run.outputs.palindrome }}"

      - name: Test addition result
        run: |
          RESULT="${{ steps.simple-run.outputs.addition }}"
          echo "Testing if addition result '$RESULT' equals 9"
          [[ "$RESULT" -eq 9 ]]


      # - name: Test failed addition
      #   id: failed-addition
      #   uses: ./.github/action/
      #   with:
      #     addition-input-1: ab
      #     addition-input-2: cd
      #   continue-on-error: true
      # - name: Validate // Test failed addition
      #   run: |
      #     echo "Outcome: ${{ steps.failed-addition.outcome }}"
      #     echo "Conclusion: ${{ steps.failed-addition.conclusion }}"

      - name: test helloWorld
        id: test-hello-world
        run: |
          OUTPUT="${{ steps.simple-run.outputs.helloWorld }}"
          echo "Testing if helloWorld output '$OUTPUT' equals 'Hello, World!'"
          [[ "$OUTPUT" == "Hello World!" ]]