name: Test the Lab 2 of Testing
on: push
jobs:
  test-testing-lab2:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      
      - name: Test addition
        id: addition
        uses: ./.
        with:
          addition-input-1: 4
          addition-input-2: 5
      - name: testing addition
        run: |
          [[ "${{ steps.addition.outputs.addition }}" -eq 9 ]]

      - id: simple-run
        uses: ./.github/action/
        with:
          addition-input-1: 4
          addition-input-2: 5
          palindrome-input: "Engage le jeu que je le gagne"

      - run: |
          echo "addition: ${{ steps.simple-run.outputs.addition }}"
          echo "helloWorld: ${{ steps.simple-run.outputs.helloWorld }}"
          echo "palindrome: ${{ steps.simple-run.outputs.palindrome }}"